<div class="card">
  <div class="card-header">
    <h3>{{ 'EXECUTION' | translate }} - {{ 'STIR' | translate }}</h3>
  </div>
  <div class="card-body p-0">
    <h3 class="text-center text-danger">{{ 'GLUE_NAME' | translate }}: {{glueName}}</h3>
     <ejs-grid  [dataSource]='glues' #grid
            gridLines='Both'
            [allowSorting]='true'
            [allowExcelExport]='true'
            allowFiltering='true'
            [filterSettings]='filterSettings'
            [pageSettings]='pageSettings'
            allowPaging="true"
            [toolbar]='toolbarOptions'
            allowResizing= 'true'
            [rowHeight]='60'
            showColumnMenu='true'
            (toolbarClick)='toolbarClick($event)'>
            <e-columns>
                <e-column field='Seq.' textAlign='Center' headerText='Seq.' width='60'>
                  <ng-template #headerTemplate>
                    {{ 'SEQ_LABEL' | translate }}
                  </ng-template>
                  <ng-template let-data #template>
                    <span class='font-weight-bold'>
                    {{ 'SEQ_LABEL' | translate }} {{NO(data.index)}}</span>
                  </ng-template>
                </e-column>
                <!-- <e-column field='glueName' textAlign='Center' headerText='Glue' width='100'></e-column> -->
                <e-column field='qty' textAlign='Center' headerText='Qty' width='70'>
                  <ng-template #headerTemplate>
                    {{ 'QTY_LABEL_STIR' | translate }}
                  </ng-template>
                  <ng-template #template let-data>{{data.qty}} kg</ng-template>
                </e-column>
                <e-column field='startTime' textAlign='Center' type='dateTime' format='hh:mm:ss' headerText='Start Time' width='120'>
                  <ng-template #headerTemplate>
                    {{ 'START_TIME_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>{{data.startTime !== "0001-01-01T00:00:00" ? (data.startTime | date: 'hh:mm:ss') : '#N/A'}}</ng-template>
                </e-column>
                <e-column field='endTime' textAlign='Center' type='dateTime' format='hh:mm:ss' headerText='End Time' width='120'>
                  <ng-template #headerTemplate>
                    {{ 'END_TIME_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>{{data.endTime !== "0001-01-01T00:00:00" ? (data.endTime | date: 'hh:mm:ss') : '#N/A'}}</ng-template>
                </e-column>
                <e-column field='mixingStatus' textAlign='Center' headerText='Mixing Status' width='130'>
                  <ng-template #headerTemplate>
                    {{ 'MIXING_STATUS_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>
                    <span [class]="data.mixingStatus === STIRRED ? 'badge badge-success' : data.mixingStatus === NOT_STIRRED_YET ? 'badge badge-danger': 'badge badge-warning'">{{(data.mixingStatus === STIRRED ? 'Stirred' : data.mixingStatus === NOT_STIRRED_YET ? 'Not Stirred Yet' : '#N/A') | translate}}</span>
                  </ng-template>
                </e-column>
                
                <e-column field='rpm' textAlign='Center' headerText='AVG RPM' width='140'>
                  <ng-template #headerTemplate>
                    {{ 'AVG_RPM_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>{{data.rpm}}</ng-template>
                </e-column>
                <e-column field='totalMinutes' textAlign='Center' headerText='DUR' width='120'>
                  <ng-template #headerTemplate>
                    {{ 'DUR_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>{{data.totalMinutes}}</ng-template>
                </e-column>
                <e-column field='status' textAlign='Center' headerText='Status' width='110'>
                  <ng-template #headerTemplate>
                    {{ 'STATUS_LABEL_STIR' | translate }}
                  </ng-template>
                  <ng-template #template let-data>
                    <span *ngIf="data.rpm > 0"
                      [class]="data.status === true ? 'badge badge-success' : 'badge badge-danger'">{{data.status === true ? 'Valid' : 'Invalid'}}</span>
                  </ng-template>
                </e-column>
                <e-column field='createdTime' textAlign='Center' type='dateTime' format='hh:mm:ss' headerText='Mixing Time' width='100'>
                  <ng-template #headerTemplate>
                    {{ 'MIXING_TIME_LABEL' | translate }}
                  </ng-template>
                </e-column>
                <e-column field='setting' textAlign='Center' headerText='Glue Type' width='170'>
                  <ng-template #headerTemplate>
                    {{ 'GLUE_TYPE_LABEL' | translate }}
                  </ng-template>
                  <ng-template #template let-data>
                    <ng-container *ngFor="let item of settingData">
                      <ejs-radiobutton  *ngIf="data.mixingStatus === NOT_STIRRED_YET && data.stirID === 0" [label]="item.machineType" name="stir" [checked]='data.settingID > 0' cssClass="e-success mr-2" [checked]='data.settingID === item.id' [value]="item.id" (change)='onChange($event, data)'>
                      </ejs-radiobutton>
                    </ng-container>
                    <ejs-radiobutton *ngIf="data.mixingStatus === NOT_STIRRED_YET && data.stirID === 0" label="X"
                      name="stir" cssClass="e-success" [checked]='data.x'
                      value="NA" (change)='onChange($event, data)'>
                    </ejs-radiobutton>
                    <span *ngIf="data.mixingStatus === STIRRED && data.stirID > 0">{{data.machineType}}</span>
                    <span *ngIf="data.mixingStatus === NA && data.stirID > 0">#N/A</span>
                  </ng-template>
                </e-column>
                <e-column field='option' textAlign='Center' headerText='Option' width='100'>
                  <ng-template #headerTemplate>
                    {{ 'OPTION' | translate }}
                  </ng-template>
                  <ng-template #template let-data>
                    <div class="btn-group mr-2" >
                      <button type="button" [disabled]='data.mixingStatus === NA || data.mixingStatus === STIRRED' (click)='saveStir(data)' class="btn btn-xs btn-info"><i class="fa fa-save"></i></button>
                    </div>
                    <div class="btn-group">
                      <button type="button" [disabled]='data.mixingStatus === NA || data.mixingStatus === NOT_STIRRED_YET' (click)='showModal(infoModal,data)' class="btn btn-xs btn-info"><i class="fa fa-search"></i></button>
                    </div>
                  </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
  </div>
</div>

<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Info
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-3 mt-2">
        <label>AVG RPM: </label>
      </div>
      <div class="col-md-8 mt-2">
        <input type="text" class="form-control form-control-sm" [value]="rpm" name="" disabled id="">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mt-2">
        <label>Minutes: </label>
      </div>
      <div class="col-md-8 mt-2">
        <input type="text" [(value)]="totalMinutes" class="form-control form-control-sm" disabled>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mt-2">
        <label>Valid: </label>
      </div>
      <div class="col-md-8 mt-2">
        <ng-container *ngIf="status; else elseTemplate">
          <button style="margin: 3px;" type="button" class="btn btn-info btn-sm">Ok</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button style="margin: 3px;" type="button" class="btn btn-danger btn-sm">Invalid</button>
        </ng-template>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mt-4 text-center">
        <button style="margin: 3px;" *ngIf="stir.rpm === 0" type="button" (click)="updateStir()"
          class="btn btn-success">Confirm</button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>

