<div class="row">
<!-- Left -->
  <div class="col-md-5">
    <div class="card">
      <div class="col-md-12 card-body table-responsive">
        <!--  Model Name -->
        <div class="row">
          <div class="col-md-3 mt-2">
            <label>Model Name: </label>
          </div>
          <div class="col-md-8 mt-2">
            <ejs-dropdownlist #modelNameDropdownlist (open)='openPopupDropdownlist()' class="w-100 float-left"
              [dataSource]='modelNameData' [fields]='fieldsBPFCs' [allowFiltering]='true' [(ngModel)]="modelNameID"
              (filtering)='onFilteringModelName($event)' (change)='onChangeModelName($event)'
              placeholder="Select a Model Name">
            </ejs-dropdownlist>
          </div>
          <div *ngIf="modelNameSelect && modelNoSelect && modelArtSelect && modelProcessSelect" class="col-md-1 mt-2">
            <button ejs-button (click)='openModal(cloneModal)' cssClass="e-info" class="float-right ml-1"><i
                class="fa fa-clone"></i></button>
          </div>
        </div>
        <!-- End Model Name -->

        <!--  Model No -->

        <div class="row">
          <div class="col-md-3 mt-2">
            <label>Model NO: </label>
          </div>
          <div class="col-md-8 mt-2">
            <ejs-dropdownlist #modelNoDropdownlist (open)='openPopupDropdownlist()' class="w-100 float-left"
              [dataSource]='modelNoData' [fields]='fieldsBPFCs' [allowFiltering]='true' [(ngModel)]="modelNoID"
              (filtering)='onFilteringModelNO($event)' (change)='onChangeModelNo($event)'
              placeholder="Select a Model NO">
            </ejs-dropdownlist>
          </div>
          <div class="col-md-1 mt-2">
          </div>
        </div>
        <!-- End Model No -->

        <!-- Article No -->
        <div class="row">
          <div class="col-md-3 mt-2">
            <label>Article NO: </label>
          </div>
          <div class="col-md-8 mt-2">
            <ejs-dropdownlist #modelNameDropdownlist (open)='openPopupDropdownlist()' class="w-100 float-left"
              [dataSource]='articleNosData' [fields]='fieldsBPFCs' [allowFiltering]='true' [(ngModel)]="articleNoID"
              (filtering)='onFilteringArticleNO($event)' (change)='onChangeArticleNo($event)'
              placeholder="Select article NO   ">
            </ejs-dropdownlist>
          </div>
          <div class="col-md-1 mt-2">
          </div>
        </div>
        <!-- End Article No -->

        <!-- ArtProcess -->
        <div class="row">
          <div class="col-md-3 mt-2">
            <label>Process: </label>
          </div>
          <div class="col-md-9 mt-2">
            <ng-container *ngFor="let item of artProcessData">
              <ejs-radiobutton [label]="item.name" name="process" [value]="item.id" (click)='onClickProcess($event)'>
              </ejs-radiobutton>
            </ng-container>
          </div>
        </div>
        <!-- End Art Process -->
      </div>
    </div>
    <!-- Glue -->
    <div class="card">
      <div *ngIf="existGlue">
        <ejs-barcodegenerator *ngIf="showBarCode" style="display: block;" #barcode id="barcode" width="300px"
          height="100px" mode="SVG" type="Code32" [value]="glue.code"></ejs-barcodegenerator>
      </div>
      <div class="card-body table-responsive p-0">
        <div class="control-section" *ngIf="existGlue">
          <ejs-grid #gridglue [dataSource]='glues' height='250px' [editSettings]='editSettings' [toolbar]='toolbar'
            [allowSorting]='true' showColumnMenu='true' allowSorting='true' allowResizing='true' gridLines='Both'
            [selectedRowIndex]='rowIndex' (rowDeselected)=rowDeselected($event) (actionBegin)="actionBeginGlue($event)"
            (rowSelected)="rowSelected($event)" (created)="onCreatedGridGlue()" (toolbarClick)='toolbarClick($event)'
            (dataBound)='dataBoundGlue()'>
            <e-columns>
              <e-column field='name' isPrimaryKey="true" headerText='Chemical' textAlign='Center' width='150'>
                <ng-template #headerTemplate let-data>
                  {{'GLUE' | translate}}
                </ng-template>
                <ng-template #template let-data>
                  <div data-toggle="tooltip" data-placement="top" title='{{data.name}}'>
                    {{data.name}}
                  </div>
                </ng-template>
              </e-column>
              <e-column field='consumption' headerText='Std. Con.(g)' textAlign='Center' width='150'>
                <ng-template #headerTemplate let-data>
                  {{'CONSUMPTION' | translate}}
                </ng-template>
                <ng-template #template let-data>
                  <span [class]="changeConsumptionColor(data)">{{data.consumption === '' ? '0' : data.consumption}}</span>
                </ng-template>
              </e-column>
              <e-column field='expiredTime' headerText='Expired Time' isPrimaryKey="true" textAlign='Center'
                width='150'>
                <ng-template #headerTemplate let-data>
                  {{'EXPIRED_TIME' | translate}}
                </ng-template>
              </e-column>
              <e-column field='modelNo' headerText='Kind' textAlign='Center' width='150'>
                <ng-template #headerTemplate let-data>
                  {{'KIND' | translate}}
                </ng-template>
                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist id='glueDropdownlist' #glueDropdownlist [dataSource]='parts'
                    [(ngModel)]="data.partID" [fields]='fieldsGlueEdit' [allowFiltering]='true'
                    (change)='onChangePartEdit($event)'>
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field='pathName' headerText='Part' textAlign='Center' width='150'>
                <ng-template #headerTemplate let-data>
                  {{'PART' | translate}}
                </ng-template>
                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist id='glueDropdownlist' #glueDropdownlist [dataSource]='kinds'
                    [(ngModel)]="data.kindID" popupHeight='200px' popupWidth='250px' [fields]='fieldsGlueEdit'
                    [allowFiltering]='true' (change)='onChangeKindEdit($event)'>
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>
              <e-column field='materialName' headerText='Material' textAlign='Center' width='150'>
                <ng-template #headerTemplate let-data>
                  {{'MATERIAL' | translate}}
                </ng-template>
                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist id='glueDropdownlist' #glueDropdownlist [dataSource]='materials'
                    [(ngModel)]="data.materialID" popupHeight='200px' popupWidth='250px' [fields]='fieldsGlueEdit'
                    [allowFiltering]='true' (change)='onChangeMaterialEdit($event)'>
                  </ejs-dropdownlist>
                </ng-template>
              </e-column>

            </e-columns>
          </ejs-grid>
        </div>
      </div>

    </div>
    <!-- End Glue -->
  </div>
<!-- End Left -->

<!-- Right -->
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{'PREVIEW' | translate}} </h3>
        <div class="card-tools" *ngIf="existGlue">

          <button type="button" class="btn btn-danger btn-sm mr-2 d-none"><i class="fas fa-undo"></i> Reset
          </button>
          <ejs-switch #switch onLabel="{{'DONE' | translate}}" offLabel="{{'UNDONE' | translate}}" [disabled]='approvalStatus'
            style="width: 100px; margin-right: 10px;"  (click)='done()' *ngIf='modelNameID > 0'
            [(ngModel)]="createdStatus" [checked]="createdStatus"></ejs-switch>
          <ng-container *ngIf="(level !== 3 && level !== 4)">
            <ejs-switch onLabel="Approved" offLabel="{{'NOT_APPROVED' | translate}}" style="width: 120px;"
              (click)='approval()' *ngIf='modelNameID > 0' [(ngModel)]="approvalStatus" [checked]="approvalStatus">
            </ejs-switch>
          </ng-container>
          <!-- <button type="button" (click)='save()' ejs-button cssClass="e-small e-warning ml-2"><i
              class="fas fa-save"></i> {{ 'SAVE' | translate}}
          </button> -->
          <button type="button" (click)='finished()' *ngIf='modelNameID > 0' ejs-button
            cssClass="e-small e-success ml-2"><i class="fas fa-save"></i> {{ 'FINISHED' | translate}}
          </button>
          <button type="button" (click)='openModalHistory(HistoryModal)' *ngIf='modelNameID > 0' ejs-button
            cssClass="e-small e-default ml-2"><i class="fas fa-history"></i> History</button>
        </div>
      </div>
      <div class="card-body" *ngIf="existGlue">
        <ul *ngIf="renderchemical().length > 0">
          <span style="visibility: hidden">{{formulaTamp()}}</span>
          <li style="list-style-type:square; font-weight: bold;">
            {{formula()}}
            <ul>
              <li style="list-style: none;" *ngFor="let item of renderchemical(); let i=index">
                <a>
                  {{item.position}}. {{item.ingredientName}} <span
                    class="font-weight-bold text-danger">({{item.percentage}}%)</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="row">
          <div class="col-lg-12 col-xs-12 col-12" style="text-align: center;">
            <button type="button" (click)="sortBySup(0)" class="btn bg-gradient-secondary btn-sm rounded-pill">
              {{ 'DEFAULT' | translate}}
            </button>
            <button type="button" *ngFor="let item of supplier" style="margin: 3px" (click)="sortBySup(item.id)"
              class="btn btn-info btn-sm rounded-pill">
              <i class="fas fa-cannabis"></i> {{item.name}}
            </button>
          </div>
        </div>
        <div class="row">
          <!-- Ingredient 1 -->
          <div class="col-md-6">
            <div class="card-body table-responsive p-0">
              <div class="control-section">
                <ejs-grid #grid
                  [dataSource]='ingredients1'
                  [allowSorting]='true'
                  height='675px'
                  gridLines='Both'
                  [allowSorting]='true'
                  showColumnMenu='true'
                  allowSorting='true'
                  allowResizing='true'
                  (actionComplete)='actionCompleteIngredient($event)'
                  (recordDoubleClick)='onDoubleClickIngredient($event)'
                  (actionBegin)="actionBeginIngredient($event)"
                  (toolbarClick)='toolbarClickIngredient($event)'
                  (rowSelected)="rowSelectedIngredient($event)"
                  [editSettings]='editSettings'
                  [toolbar]='toolbarOptions2'>
                  <e-columns>
                    <e-column field='Item' isPrimaryKey="true" headerText='Item' width=80 textAlign='Center'>
                      <ng-template #headerTemplate let-data>
                        {{'ITEM' | translate}}
                      </ng-template>
                      <ng-template #template let-data>
                        <ejs-dropdownlist #positionDropdownlist [dataSource]='dataPosition' [value]='data.position'
                          [fields]='fieldsPosition' [allowFiltering]='true'
                          (change)='onChangePosition($event,data, data.index)'>
                        </ejs-dropdownlist>
                      </ng-template>
                      <ng-template #editTemplate let-data>
                        <ejs-dropdownlist #positionDropdownlist [dataSource]='dataPosition' [value]='data.position' [fields]='fieldsPosition'
                          [allowFiltering]='true' (change)='onChangePosition($event,data, data.index)'>
                        </ejs-dropdownlist>
                      </ng-template>
                    </e-column>
                    <e-column field='name' isPrimaryKey="true" headerText='Name' width=140 textAlign='Center'>
                      <ng-template #headerTemplate let-data>
                        {{'INGREDIENT_NAME' | translate}}
                      </ng-template>
                       <ng-template #editTemplate let-data>
                        {{ data.name}}
                      </ng-template>
                      <ng-template #template let-data>
                        {{ data.name}}
                      </ng-template>
                    </e-column>
                    <e-column field='percentage' headerText='%' textAlign='Center' width=60>
                      <ng-template let-data #template>
                        <div [class]="changePercentageColor(data)">{{data.percentage}}</div>
                      </ng-template>
                    </e-column>
                    <e-column field='allow' headerText='Allow (%)' textAlign='Center' width=60>
                      <ng-template #headerTemplate let-data>
                        <div>
                          <i class="fas fa-exclamation-circle"></i>
                        </div>
                      </ng-template>
                      <ng-template #template let-data>
                        <div [class]="changeAllowColor(data)">&#177; {{data.allow}}</div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
          <!-- End Ingredient 1 -->

          <!-- Ingredient 2 -->
          <div class="col-md-6">
            <div class="card-body table-responsive p-0">
              <div class="control-section">
                <ejs-grid #grid height='675px'
                  [dataSource]='ingredients2'
                  [allowSorting]='true'
                  showColumnMenu='true'
                  allowSorting='true'
                  allowResizing='true'
                  gridLines='Both'
                  (actionComplete)='actionCompleteIngredient($event)'
                  (recordDoubleClick)='onDoubleClickIngredient($event)'
                  (actionBegin)="actionBeginIngredient($event)"
                  (toolbarClick)='toolbarClickIngredient($event)'
                  (rowSelected)="rowSelectedIngredient($event)"
                  [editSettings]='editSettings'
                  [toolbar]='toolbarOptions2'>
                  <e-columns>
                    <e-column field='Item' isPrimaryKey="true" headerText='Item' width=80 textAlign='Center'>
                      <ng-template #headerTemplate let-data>
                        {{'ITEM' | translate}}
                      </ng-template>
                      <ng-template #template let-data>
                        <ejs-dropdownlist #positionDropdownlist [dataSource]='dataPosition' [value]='data.position' [fields]='fieldsPosition'
                          [allowFiltering]='true' (change)='onChangePosition($event,data, data.index)'>
                        </ejs-dropdownlist>
                      </ng-template>
                      <ng-template #editTemplate let-data>
                        <ejs-dropdownlist #positionDropdownlist [dataSource]='dataPosition' [value]='data.position' [fields]='fieldsPosition'
                          [allowFiltering]='true' (change)='onChangePosition($event,data, data.index)'>
                        </ejs-dropdownlist>
                      </ng-template>
                    </e-column>
                    <e-column field='name' isPrimaryKey="true" headerText='Name' width=140 textAlign='Center'>
                      <ng-template #headerTemplate let-data>
                        {{'INGREDIENT_NAME' | translate}}
                      </ng-template>
                      <ng-template #editTemplate let-data>
                        {{ data.name}}
                      </ng-template>
                      <ng-template #template let-data>
                        {{ data.name}}
                      </ng-template>
                    </e-column>
                    <e-column field='percentage' headerText='%' textAlign='Center' width=60></e-column>
                    <e-column field='allow' headerText='Allow (%)' textAlign='Center' width=60>
                      <ng-template #headerTemplate let-data>
                        <div>
                          <i class="fas fa-exclamation-circle"></i>
                        </div>
                      </ng-template>
                      <ng-template #template let-data>
                        <span>&#177; {{data.allow}}</span>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </div>
          </div>
          <!-- End Ingredient 2 -->
        </div>
      </div>
    </div>
  </div>
<!-- End Right -->

<!-- Modal -->
  <ng-template #cloneArticleModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fas fa-plus"></i> Clone Article
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Article Name</label>
            <span style="color:red">(*)</span>
            <input type="text" [(ngModel)]="articleName" class="form-control" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Process</label>
            <ejs-dropdownlist #processDropdownlist class="w-100" [value]='valueProcess'
              (change)='onChangeProcessCloneModal($event)' [dataSource]='processData' [allowFiltering]='true'
              [fields]='processfields' placeholder='Select a process'>
            </ejs-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="submit" (click)='cloneArticleModelname()' class="btn btn-primary">Clone</button>
    </div>
  </ng-template>

  <ng-template #cloneModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fas fa-plus"></i> Clone BPFC
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Model Name</label>
            <span style="color:red">(*)</span>
            <ejs-dropdownlist #modelNameDropdownlist (open)='openPopupDropdownlist()' class="w-100 float-left"
              [dataSource]='modelNameDataClone' [fields]='fieldsBPFCs' [allowFiltering]='true' [value]='value'
              (filtering)='onFilteringModelNameClone($event)' (change)='onChangeModelNameClone($event)'
              placeholder="Select a Model Name">
            </ejs-dropdownlist>
            {{modelNameIDClone}}
            <!-- [(ngModel)]="modelNameIDClone" -->
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Model NO</label>
            <span style="color:red">(*)</span>
            <ejs-dropdownlist #modelNoDropdownlist class="w-100 float-left" [dataSource]='modelNOsDataClone'
              (dataBound)='OndataBound($event)' [fields]='fieldsBPFCs' [allowFiltering]='true' [value]="valuemodelNo"
              (filtering)='onFilteringModelNOClone($event)' (change)='onChangeModelNoClone($event)'
              placeholder="Select a Model NO">
            </ejs-dropdownlist>
            {{modelNOIDClone}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Article NO</label>
            <span style="color:red">(*)</span>
            <ejs-dropdownlist #modelNameDropdownlist class="w-100 float-left" [dataSource]='articleNosDataClone'
              [fields]='fieldsBPFCs' [allowFiltering]='true' (filtering)='onFilteringArticleNOClone($event)'
              [(ngModel)]="articleNOIDClone" (change)='onChangeArticleNoClone($event)'
              placeholder="Select article NO   ">
            </ejs-dropdownlist>
            {{articleNOIDClone}}
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="Name">Process</label>
            <span style="color:red">(*)</span>
            <div class="col-md-9 mt-2">
              <ng-container *ngFor="let item of artProcessDataClone2">
                <ejs-radiobutton [label]="item.name" name="process2" [value]="item.id" [(ngModel)]="artProcessIDClone">
                </ejs-radiobutton>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="submit" (click)='onClickClone()' class="btn btn-primary">Clone</button>
    </div>
  </ng-template>

  <ng-template #HistoryModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">
        <i class="fas fa-plus"></i> BPFC History
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ejs-grid #gridHistory [dataSource]='historyData' [allowSorting]='true' height='675px' gridLines='Both'
        [allowSorting]='true' showColumnMenu='true' allowSorting='true' allowResizing='true'
        [editSettings]='editSettingsHis' [toolbar]='toolbarOptionsHistory' (actionBegin)="actionBeginHistory($event)">
        <e-columns>

          <e-column field='createdTime' isPrimaryKey="true" headerText='Time' textAlign='Center'>
            <ng-template #template let-data>
              {{data.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}
            </ng-template>

          </e-column>
          <e-column field='action' isPrimaryKey="true" headerText='Status' width=150 textAlign='Center'></e-column>
          <e-column field='before' headerText='Before' width=450 isPrimaryKey="true" textAlign='Left' ></e-column>
          <e-column field='after' headerText='After' width=450 isPrimaryKey="true" textAlign='Left' ></e-column>
          <e-column field='remark' headerText='Remark' [edit]="editparamsHis" textAlign='Center'>
            <ng-template #editTemplate let-data>
              <span [ngClass]="data.action == 'Improve'  ? 'e-input-group e-control-wrapper e-valid-input' : 'e-input-group e-control-wrapper e-valid-input e-disabled'"  >
                <ng-container *ngIf="data.action == 'Improve' ; else elseTemplate">
                  <input  class="e-field e-input e-defaultcell" type="text" [value]="data.remark" name="remark" style="text-align:Center">
                </ng-container>
                <ng-template #elseTemplate>
                  <input class="e-field e-input e-defaultcell" disabled="disabled" type="text" [value]="data.remark" name="remark" style="text-align:Center">
                </ng-template>
              </span>
            </ng-template>
          </e-column>
          <e-column field='createdBy' headerText='Created By'  isPrimaryKey="true" textAlign='Center' ></e-column>

        </e-columns>
      </ejs-grid>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<!-- End Modal -->
</div>
