<div class="card">
  <div class="card-header">
    <h3>{{'INCOMING_LABEL' | translate}}</h3>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form class="w3-container w3-card-4  w3-text-black ">
          <h2 class="w3-center">Scan QR Code</h2>

          <div class="w3-row w3-section">
            <div class="w3-col" style="width:100px">
              <img src="../../../../assets/img/gif/1981.gif" height="40px" width="80%" alt="">
            </div>
            <div class="w3-rest">
              <input [ngClass]="test" name="qrcode" [autofocus]="true" autoselect [ngModel]="qrcodeChange"
                (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>
            <div class="row">
              <div class="col-md-12 mt-4 text-center">
                <!-- success -->
                <div style="font-size: 30px;" class="pretty p-icon p-round">
                  <input (change)='InputChange($event)' type="radio" checked name="icon_solid" />
                  <div class="state p-success">
                    <i class="icon mdi mdi-check"></i>
                    <label>{{'INPUT_LABEL' | translate}}</label>
                  </div>
                </div>

                <div style="font-size: 30px;" class="pretty p-icon p-round">
                  <input (change)='OutputChange($event)' type="radio" name="icon_solid" />
                  <div class="state p-success">
                    <i class="icon mdi mdi-check"></i>
                    <label>{{'OUTPUT_LABEL' | translate}}</label>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>

        <!-- <div class="row">
          <div class="col-sm-12 text-center">
            <label class="font-weight-bold" for="">Scan QR Code</label>
          </div>
        </div> -->

        <!-- <ng-container>
          <div class="row">
            <div class="col-md-2">
              <div style="text-align: right;">
                <img src="../../../../assets/img/gif/1981.gif" height="40px" width="50%" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <input [ngClass]="test"  [autofocus]="true" autoselect  [ngModel]="qrcodeChange"  (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>
            <div class="col-md-2">
              <button (click)="confirm()" type="button" class="btn btn-success"><i class="fas fa-save"></i> Confirm</button>
            </div>
          </div>
        </ng-container> -->

        <!-- <div class="row">
          <div class="col-md-12 mt-4 text-center">

            <div style="font-size: 30px;" class="pretty p-icon p-round">
              <input (change)='InputChange($event)' type="radio" checked name="icon_solid" />
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label>{{'INPUT_LABEL' | translate}}</label>
              </div>
            </div>

            <div style="font-size: 30px;" class="pretty p-icon p-round">
              <input (change)='OutputChange($event)' type="radio" name="icon_solid" />
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
                <label>{{'OUTPUT_LABEL' | translate}}</label>
              </div>
            </div>

          </div>
        </div> -->

      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center;" scope="col">{{'TIME_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'SUPPLIER' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'INGREDIENT_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'PRODUCTION_DATE_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'BATCH_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'EXPIRED_DATE_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'QTY_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'STATUS_LABEL' | translate}}</th>
              <th style="text-align: center;" scope="col">{{'OPTION' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i=index">
              <th scope="row" style="text-align: center;">{{item.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}</th>
              <td style="text-align: center;">{{item.supplierName}}</td>
              <td style="text-align: center;">{{item.name }}</td>
              <td style="text-align: center;">{{item.manufacturingDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align: center;">{{item.batch}}</td>
              <td style="text-align: center;">{{item.expiredTime}}</td>
              <td style="text-align: center;">{{item.qty}} KG</td>
              <td style="text-align: center;">
                <ng-container *ngIf="item.status === true; else elseTemplate">
                  <span class="badge badge-secondary">{{'OUTOFSTOCK_LABEL' | translate}}</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="badge badge-success">{{'STOCKING_LABEL' | translate}}</span>
                </ng-template>
              </td>
              <td style="text-align: center;">
                <button (click)="delete(item)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- <div *ngIf="checkout" class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center;" scope="col">Time</th>
              <th style="text-align: center;" scope="col">Supplier</th>
              <th style="text-align: center;" scope="col">Ingredient</th>
              <th style="text-align: center;" scope="col">Production Date</th>
              <th style="text-align: center;" scope="col">Batch</th>
              <th style="text-align: center;" scope="col">Expired date</th>
              <th style="text-align: center;" scope="col">Receive Qty (Kg)</th>
              <th style="text-align: center;" scope="col">Status</th>
              <th style="text-align: center;" scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataOut; let i=index">
              <th scope="row" style="text-align: center;">{{item.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}</th>
              <td style="text-align: center;">{{item.supplierName}}</td>
              <td style="text-align: center;">{{item.name }}</td>
              <td style="text-align: center;">{{item.manufacturingDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align: center;">{{item.batch}}</td>
              <td style="text-align: center;">{{item.expiredTime}}</td>
              <td style="text-align: center;">{{item.qty}} KG</td>
              <td style="text-align: center;">
                <ng-container *ngIf="item.status === true; else elseTemplate">
                  <span class="badge badge-secondary">Đã hết</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="badge badge-success">Còn</span>
                </ng-template>
              </td>
              <td style="text-align: center;">
                <button  (click)="delete(item)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div> -->

</div>
