<section class="content">
    <article>
      <h1>We&rsquo;ll be back soon!</h1>
      <div>
        <p>
          Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment.
          If you need to you can always
          <a href="mailto:sy.pham@shc.ssbshoes.com?cc=peter.tran@shc.ssbshoes.com;leo.doan@shc.ssbshoes.com
              &subject=Maintenance%20Mode-Work%20Management%20System"
          >contact us</a>
          otherwise we&rsquo;ll be back online shortly!
        </p>
        <p>&mdash; The Team</p>
      </div>
    </article>
  </section>

