<div class="card">
  <div class="card-header">
    <h3 class="title">
      Ingredient List
    </h3>

  </div>
  <div class="card-body">
    <div class="btn-group pb-3">
      <button type="button" (click)="openIngredientModalComponent()" *ngIf="!show" class="btn btn-success">Add</button>
    </div>
    <div class="btn-group pb-1">
      <span style="color: transparent">|</span>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="printBarcode()" *ngIf="!show" class="btn btn-success mx-2">Print QRcode</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="showModal(importModal)" *ngIf="!show" class="btn btn-success">Import Excel</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="backList()" *ngIf="show" class="btn btn-success ml-2">Back List</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="printData()" *ngIf="show" class="btn btn-success ml-2"> <i class="fa fa-print"></i>
        Print</button>
    </div>
    <div class="input-group input-group-sm pb-3 float-right" style="width: 350px;" *ngIf="!show">
      <input type="text" name="text" (keyup.enter)="search()" [(ngModel)]="text" class="form-control float-right"
        placeholder="Search">

      <div class="input-group-append">
        <button type="submit" class="btn btn-default" (click)='search()'><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-xl-8">
        <ejs-grid #printGrid id='overviewgrid' 
          (rowDeselected)=rowDeselected($event) 
          [dataSource]='dataPrint' rowHeight='38' 
          [allowSelection]='true'
          [selectionSettings]="{ checkboxMode: 'ResetOnRowClick'}"
          [allowSorting]='true' 
          height='600'
          (rowDeselected)='rowDeselected($event)' 
          (rowSelected)='rowSelected($event)' 
          [enableHover]='false'
          [allowSorting]='true' 
          [enableVirtualization]='true'>
          <e-columns>
            <e-column type='checkbox' width='60'></e-column>
            <e-column field='supplier' headerText='Supplier' width='100'></e-column>
            <e-column field='name' headerText='Ingredient Name' width='130'></e-column>
            <e-column field='batch' headerText='Batch' width='100'>
              <ng-template #template let-data>
                <input type="text" [(ngModel)]="data.batch" (change)='onChange($event, data)' class="e-input">
              </ng-template>
            </e-column>
            <e-column field='productionDate' headerText='Production date' width='150'>
              <ng-template #template let-data>
              <ejs-datepicker [value]='data.productionDate' (change)='onChangeDate($event, data)'></ejs-datepicker>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <div class="col-xl-4">
        <table class="table table-hover" id="qrcode">
          <thead class="thead-dark">
            <tr>
              <th>Barcode</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of dataPicked">
              <tr>
                <td class="text-center">
                  <ejs-qrcodegenerator [id]='item.code' style="display: block;" [displayText]='displayTextMethod' #barcode
                    width="177px" height="177px" mode="SVG" [value]="item.qrCode"></ejs-qrcodegenerator>
                  <div>{{item.code}}</div>
                  <div>{{item.name}}</div>
                  <div><label>Expired Time: </label> {{item.expiredTime}} minute</div>
                  <div class="text-danger font-weight-bold">{{item.batch.length !== '' && item.productionDate !== '' ? '' : '(*)Please enter batch code and production date'}}</div>

                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  
    <div *ngIf="!show">
      <ejs-grid #ingredientGrid  [dataSource]='data' rowHeight='38'
        [allowSelection]='true' [allowSorting]='true' height='600'
        [enableHover]='false'
        [allowSorting]='true' [enableVirtualization]='true'>
        <e-columns>
          <e-column field='#' headerText='#' width='50'>
            <ng-template let-data #template>
              {{ NO(data.index) }}
            </ng-template>
          </e-column>
          <e-column field='supplier' headerText='Supplier' width='100'></e-column>
          <e-column field='name' headerText='Ingredient Name' width='130'></e-column>
          <e-column field='voc' headerText='VOC' width='80'></e-column>
          <e-column field='expiredTime' headerText='ExpiredTime' width='130'></e-column>
          <e-column field='materialNO' headerText='Material #' width='130'></e-column>
          <e-column field='unit' headerText='Unit(kg)' width='100'></e-column>
          <e-column field='createdDate' headerText='Created Date' width='130'></e-column>

          <e-column field='productionDate' headerText='Production date' width='150'>
            <ng-template let-data #template >
                <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Print QRCode">
                  <a routerLink="/ec/setting/ingredient/print-qrcode/{{data.id}}/{{data.code}}/{{data.name}}"
                    class="btn btn-xs btn-success mr-2"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
                </div>
                <div class="btn-group">
                  <button type="button" (click)='openIngredientEditModalComponent(data)' class="btn btn-xs btn-primary"><i
                      class="fa fa-edit"></i></button>
                </div>
                <div class="btn-group">
                  <span style="color: transparent">|</span>
                </div>
                <div class="btn-group">
                  <button type="button" (click)='delete(data)' class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <!-- <table class="table table-hover" *ngIf="!show">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th class="text-center">Supplier</th>
          <th class="text-center">Ingredient</th>
          <th class="text-center">VOC (%)</th>
          <th class="text-center">Expired Time (by mins)</th>
          <th class="text-center">Material #</th>
          <th class="text-center">Unit (kg)</th>
          <th class="text-center">Create Date</th>
          <th class="text-center">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i= index">
          <td class="text-center" scope="row">{{ (pagination.currentPage - 1) * pagination.itemsPerPage + i + 1 }}</td>
          <td class="text-center">
            {{item.supplier}}
          </td>
          <td class="text-center">{{item.name}}</td>
          <td class="text-center">{{item.voc}}</td>
          <td class="text-center">{{item.expiredTime}}</td>
          <td class="text-center">{{item.materialNO}}</td>
          <td class="text-center">{{item.unit}}</td>
          <td class="text-center">{{item.createdDate}}</td>
          <td class="text-center">
            <div class="btn-group" data-toggle="tooltip" data-placement="top" title="Print QRCode">
              <a routerLink="/ec/setting/ingredient/print-qrcode/{{item.id}}/{{item.code}}/{{item.name}}"
                class="btn btn-success mr-2"><i class="fa fa-qrcode" aria-hidden="true"></i></a>
            </div>
            <div class="btn-group">
              <button type="button" (click)='openIngredientEditModalComponent(item)' class="btn btn-primary"><i
                  class="fa fa-edit"></i></button>
            </div>
            <div class="btn-group">
              <span style="color: transparent">|</span>
            </div>
            <div class="btn-group">
              <button type="button" (click)='delete(item)' class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
  <div class="card-footer" *ngIf="!show">
    <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="totalItems" [directionLinks]='true'
      [(page)]="currentPage" [pageSize]='itemsPerPage' [maxSize]="20" [rotate]="true" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</div>
<ng-template #importModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-plus"></i> Import Excel
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="Name">Select File (*Notice: Excel file must be followed a system template. If you do not have a
            template, please <a [href]="excelDownloadUrl">click here</a> to download. Thank you!)</label>
          <input (change)="fileProgress($event)" name="file" type="file" class="form-control" />
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload File</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>