<div class="card">
  <div class="card-header">
    <h3 class="title">
      Ingredient List
    </h3>
 
  </div>
  <div class="card-body">
    <div class="btn-group pb-3">
      <button type="button" (click)="openIngredientModalComponent()" *ngIf="!show" class="btn btn-success">Add</button>
    </div>
    <div class="btn-group pb-1">
      <span style="color: transparent">|</span>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="printBarcode()" *ngIf="!show" class="btn btn-success mx-2">Print QRcode</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="showModal(importModal)" *ngIf="!show" class="btn btn-success">Import Excel</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="backList()" *ngIf="show" class="btn btn-success ml-2">Back List</button>
    </div>
    <div class="btn-group pb-3">
      <button type="button" (click)="printData()" *ngIf="show" class="btn btn-success ml-2"> <i class="fa fa-print"></i> Print</button>
    </div>
    <div class="input-group input-group-sm pb-3 float-right" style="width: 350px;">
      <input type="text" name="text"  (keyup.enter)="search()" [(ngModel)]="text" class="form-control float-right" placeholder="Search">

      <div class="input-group-append">
        <button type="submit" class="btn btn-default" (click)='search()'><i class="fas fa-search"></i></button>
      </div>
    </div>
    <table class="table table-hover" id="qrcode" *ngIf="show">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Barcode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i= index">
          <td>{{item.name}}</td>
          <td>
            <ejs-qrcodegenerator style="display: block;" [displayText]='displayTextMethod' #barcode width="200px" height="150px" mode="SVG" [value]="item.code"></ejs-qrcodegenerator>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover" *ngIf="!show">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Supplier</th>
          <th>Ingredient</th>
          <th>VOC (%)</th>
          <th>Expired Time (by mins)</th>
          <th>Create Date</th>
          <th style="text-align: center">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data; let i= index">
          <td scope="row">{{ (pagination.currentPage - 1) * pagination.itemsPerPage + i + 1 }}</td>
          <td style="text-align: center">
           {{item.supplier}}
          </td>
          <td>{{item.name}}</td>
          <td>{{item.voc}}</td>
          <td>{{item.expiredTime}}</td>
          <td>{{item.createdDate}}</td>
          <td style="text-align: center">
            <div class="btn-group">
              <a  routerLink="/ec/setting/ingredient/print-qrcode/{{item.id}}/{{item.code}}/{{item.name}}"  class="btn btn-success mr-2">Print QRCode</a>
            </div>
            <div class="btn-group">
              <button type="button" (click)='openIngredientEditModalComponent(item)' class="btn btn-primary">Edit</button>
            </div>
            <div class="btn-group">
              <span style="color: transparent">|</span>
            </div>
            <div class="btn-group">
              <button type="button" (click)='delete(item)' class="btn btn-danger">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <ngb-pagination (pageChange)="onPageChange($event)" [collectionSize]="totalItems"  [directionLinks]='true' [(page)]="currentPage" [pageSize]='itemsPerPage' [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
<ng-template #importModal let-modal>
  <div class="modal-header">
      <h4 class="modal-title">
          <i class="fas fa-plus"></i> Import Excel
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Name">Select File (*Notice: Excel file must be followed a system template. If you do not have a template, please <a [href]="excelDownloadUrl">click here</a> to download. Thank you!)</label>
              <input (change)="fileProgress($event)"  name="file" type="file"  class="form-control" />
          </div>
          </div>
      </div>

  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload File</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>

</ng-template>
