<div class="card">
  <div class="card-header">
    <h3>Inventory</h3>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-1">
        <div class="font-weight-bold">{{'FILTER_LABEL' | translate}}:</div>
      </div>
      <div class="col-md-3">
        <ejs-datepicker [value]='startDate' (change)='startDateOnchange($event)' [(ngModel)]='startDate'></ejs-datepicker>
      </div>
      <div class="col-md-3">
        <ejs-datepicker [value]='endDate' (change)='endDateOnchange($event)' [(ngModel)]='endDate'></ejs-datepicker>
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-default" (click)='onClickDefault()'>
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="col-md-3">
        <input class="form-control form-control-sm" placeholder='&#xf002; Search...'  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" >
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center;" scope="col">Time</th>
              <th style="text-align: center;" scope="col">Supplier</th>
              <th style="text-align: center;" scope="col">Ingredient Name</th>
              <th style="text-align: center;" scope="col">Production Date</th>
              <th style="text-align: center;" scope="col">Batch</th>
              <th style="text-align: center;" scope="col">Expired date</th>
              <th style="text-align: center;" scope="col">Receive Qty (Kg)</th>
              <th style="text-align: center;" scope="col">Consumption</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data | filter:searchText; let i=index">
              <th scope="row" style="text-align: center;">{{item.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}</th>
              <td style="text-align: center;">{{item.supplierName}}</td>
              <td style="text-align: center;">{{item.name }}</td>
              <td style="text-align: center;">{{item.manufacturingDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align: center;">{{item.batch}}</td>
              <td style="text-align: center;">{{item.expiredTime}}</td>
              <td style="text-align: center;">{{item.qty}} KG</td>
              <td style="text-align: center;">{{item.consumption}} KG</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
