<div class="card">
  <div class="card-header">
    <h3>{{'INCOMING_LABEL' | translate}}</h3>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-sm-12 text-center">
            <label class="font-weight-bold" for="">Scan QR Code</label>
          </div>
        </div>
        <ng-container>
          <div class="row">
            <div class="col-md-2">
              <div style="text-align: right;">
                <img src="../../../../assets/img/gif/1981.gif" height="40px" width="50%" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <input [ngClass]="test" [autofocus]="true" autoselect  [ngModel]="qrcodeChange"  (ngModelChange)='onNgModelChangeScanQRCode($event)' type="text">
            </div>
            <!-- <div class="col-md-2">
              <button (click)="confirm()" type="button" class="btn btn-success"><i class="fas fa-save"></i> Confirm</button>
            </div> -->
          </div>
        </ng-container>
        <div class="row">
          <div class="col-md-12 mt-4 text-center">
            <ejs-radiobutton label="{{'INPUT_LABEL' | translate}}" (change)='InputChange($event)' value="input" style="margin: 3px;" name="state" checked="true"></ejs-radiobutton>
            <ejs-radiobutton label=" {{'OUTPUT_LABEL' | translate}}" (change)='OutputChange($event)' value="output" style="margin: 3px;" name="state"></ejs-radiobutton>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="checkin"  class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center;" scope="col">Time</th>
              <th style="text-align: center;" scope="col">Supplier</th>
              <th style="text-align: center;" scope="col">Ingredient</th>
              <th style="text-align: center;" scope="col">Production Date</th>
              <th style="text-align: center;" scope="col">Batch</th>
              <th style="text-align: center;" scope="col">Expired date</th>
              <th style="text-align: center;" scope="col">Receive Qty (Kg)</th>
              <th style="text-align: center;" scope="col">Options</th>
              <!-- <th style="text-align: center;" scope="col">Comsumption</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i=index">
              <th scope="row" style="text-align: center;">{{item.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}</th>
              <td style="text-align: center;">{{item.supplierName}}</td>
              <td style="text-align: center;">{{item.name }}</td>
              <td style="text-align: center;">{{item.manufacturingDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align: center;">{{item.batch}}</td>
              <td style="text-align: center;">{{item.expiredTime}}</td>
              <td style="text-align: center;">{{item.qty}} KG</td>
              <td style="text-align: center;">
                <button  (click)="delete(item)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </td>
              <!-- <td style="text-align: center;">{{item.consumption}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div *ngIf="checkout" class="card-body">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th style="text-align: center;" scope="col">Time</th>
              <th style="text-align: center;" scope="col">Supplier</th>
              <th style="text-align: center;" scope="col">Ingredient</th>
              <th style="text-align: center;" scope="col">Production Date</th>
              <th style="text-align: center;" scope="col">Batch</th>
              <th style="text-align: center;" scope="col">Expired date</th>
              <th style="text-align: center;" scope="col">Receive Qty (Kg)</th>
              <!-- <th style="text-align: center;" scope="col">Options</th> -->
              <!-- <th style="text-align: center;" scope="col">Comsumption</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataOut; let i=index">
              <th scope="row" style="text-align: center;">{{item.createdTime | date:'yyyy-MM-dd , hh:mm:ss a'}}</th>
              <td style="text-align: center;">{{item.supplierName}}</td>
              <td style="text-align: center;">{{item.name }}</td>
              <td style="text-align: center;">{{item.manufacturingDate | date:'yyyy-MM-dd'}}</td>
              <td style="text-align: center;">{{item.batch}}</td>
              <td style="text-align: center;">{{item.expiredTime}}</td>
              <td style="text-align: center;">{{item.qty}} KG</td>
              <!-- <td style="text-align: center;">
                <button  (click)="delete(item)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </td> -->
              <!-- <td style="text-align: center;">{{item.consumption}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

</div>
