/* @import '~pretty-checkbox/src/pretty-checkbox.scss'; */
/* @import '~pretty-checkbox/scss/variables';
@import '~pretty-checkbox/scss/core'; */
input.success-scan {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  font-weight: bold
}
input.error-scan {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #dc3545;
  color: white;
}
.e-success::before {
  border-color: #689f38;
}
.e-radio +.e-success:hover::before {
  border-color: #b1afaf
}

input.largerCheckbox {
  width: 40px;
  height: 40px;
}
