/* input:focus{
    background-color: rgb(252, 248, 54);
  } */
 
  #todolist th:nth-child(1), #delegateTable tr td:nth-child(1){
  /* display: none; */
}
   .my-align{
    vertical-align: middle!important;
    text-align: center!important;
    font-weight: 700;
  }
  .fix-css {
    font-weight: 700!important;
    font-size: 16px!important;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;

  }
  .real {
    background-color: #b8daff!important;
  }
  input.error-scan {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #dc3545;
    color: white;
  }
  input.success-scan {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    font-weight: bold
  }
  input.noHover{
    pointer-events: none;
}
input.lock {
  pointer-events: none;
}
input.warning-focus {
  animation: warning-frames .5s infinite;
  color: black;
  /* border: 1px solid #3CBC8D; */

}
input {
  pointer-events: none;
  text-align: center;
}
@keyframes warning-frames {
  from {background-color: #fade40;}
  to {background-color:  #e7f70c;}
}

/* @media (min-width: 1285px) { 
  input {
    height: calc(2.5em + 1.5rem + 4px);
    padding: .5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .3rem;
 }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  input {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
 }
} */
input.summaryhide {
  border:none !important;
  padding: 0!important;
}
input.summary {
  border:none !important;
  padding: 0!important;
}
input.summary:focus {
  border-bottom: 3px solid #dc3545 !important;
  border-radius: 0;
}
.my-sticky
{
  position:sticky;
  left:0px;
  z-index: 997;
  background-color: #ffffff;
}
.my-sticky-glue
{
  position:sticky;
  left: 74px;
  z-index: 997;
  background-color: #ffffff;
}
.my-sticky-top {
  position: sticky;
    top: 32px;
    z-index: 998;
}
.my-cursor-pointer {
  cursor: pointer;
}