<div class="row" >
  <div class="col-md-12">
      <div class="card">
          <!-- <div class="card-header">
              <h5 class="card-title">History </h5>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                  </button>
              </div>
          </div> -->

          <ejs-grid #grid  [toolbar]='toolbarOptions'
          (toolbarClick)='toolbarClick($event)'
          height='450px'
          [dataSource]='data'
          gridLines='Both'
          allowFiltering='true'
          [allowSorting]='true'
          [filterSettings]='filterSettings'
          showColumnMenu='true'
          [allowExcelExport]='true'
          (rowDeselected)='rowDeselected($event)'
          (rowSelected)='rowSelected($event)' >
              <e-columns>
                  <e-column type='checkbox' isPrimaryKey='true' width='60'></e-column>
                  <e-column field='code' headerText='QR Code' width='200' textAlign='Center' >
                    <ng-template #template let-data>
                      <ejs-qrcodegenerator style="display: block;"  #barcode width="100px" height="100px" mode="SVG" [value]="data.code"></ejs-qrcodegenerator>
                    </ng-template>
                  </e-column>
                  <e-column field='glue' headerText='Glue Name' width='200' textAlign='Center' >
                  </e-column>
                  <e-column field='realTotal' headerText='Real Total' width='100' textAlign='Center' >
                    <ng-template #template let-data>
                      {{data.realTotal}} kg
                    </ng-template>
                  </e-column>
                  <e-column field='mixBy' headerText='Mix By' width='100' textAlign='Center'>
                  </e-column>
                  <e-column field='expiredTime' headerText='Expired Time' type='date' format='dd/MM/yyyy HH:mm' width='200' textAlign='Center' >
                  </e-column>
                  <e-column field='createdTime' headerText='Created Time' type='date' format='dd/MM/yyyy HH:mm' width='200' textAlign='Center' >
                  </e-column>
              </e-columns>
          </ejs-grid>
          <table class="table table-hover" style=" position: absolute; top: -500000px;" id="qrcode">
            <thead class="thead-dark">
              <tr>
                <th colspan="2">QR Code</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of dataSelected">
                <tr *ngIf="dataSelected?.length > 0">
                  <td class="text-center">
                    <ejs-qrcodegenerator [id]='item.code' style="display: block;" #barcode
                      width="177px" height="177px" mode="SVG" [value]="item.code"></ejs-qrcodegenerator>
                  </td>
                  <td class="text-algin-left">
                    <div><label>Name:</label> {{item.glue}}</div>
                    <div><label>QR Code: </label> {{item.code}}</div>
                    <div><label>MFG:</label> {{item.createdTime}}</div>
                    <div><label>EXP:</label> {{item.expiredTime}}</div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
      </div>
      <div class="card-footer">
        <p class="float-right">{{data?.length}} items</p>
      </div>
  </div>
</div>
